body {
    background: #E8E8E8;
    }

#vision-board {
    width: 1200px;
    height: 850px;
    margin: 50px auto;
    overflow: auto;
    background: url('../img/background.png');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.block {
    float: left;
    box-sizing: border-box;
    width: 400px;
}

.small-block {
    height: 210px;
    padding: 20px 40px;
}

.large-block {
    height: 430px;
    padding: 70px 40px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.light-bg {
    background: #ffffff;
}

.dark-bg {
    background: #3b3b3b;
}

.highlight {
    background: #FFF44F;
    font-size: 18px;
    padding: 5px 15px;
}

strong {
    font-size: 38px;
    line-height: 38px;
    text-transform: none;
}

.title {
        font-size: 30px;
        margin: 10px 0;
        color: #ffffff;
}

.year {
        font-family: 'Permanent Marker', cursive;
        font-size: 18px;
        color: #ffffff;
}

.top-padding {
    padding-top: 40px;
}